streamlit>=1.15.0
whisperx==3.4.2
faster-whisper==1.1.1
librosa
soundfile
pydub
ffmpeg-python
noisereduce
torch==2.5.1
torchaudio==2.5.1
transformers
openai>=1.3.8
deep-translator
fpdf
numpy
openai-whisper
ffmpeg
