streamlit>=1.15.0
whisperx>=3.2.0,<3.4.0         
faster-whisper==1.1.1
soundfile
pydub
ffmpeg-python
noisereduce
torch==2.5.1
torchaudio==2.5.1
transformers
openai>=1.3.8
deep-translator
fpdf
numpy
openai-whisper
ffmpeg
llvmlite>=0.44.0
numba>=0.61.2
librosa>=0.11.0
